.banner4>img{
    height: 700px;
    width: 100%;
    
}
/* .banner4>button{
    height:150;
    width: 200px;
    font: 600;
    font-size: larger;
    background-color: rgb(255, 196, 0);
    border-radius: 10%;
   margin-top: -1000%;

} */