.logo  {
height: 150px;
width: 150px;
}


.search{
    float: right;
    margin-top: 30px;
}
.bag  {
    height: 50px;
    width: 50px;
  float: right;
  margin-top: 20px;

}
.prenav{
    justify-content: center;
}