.about3{
    background-image: url(../images/drop.png);
   background-size: cover;
   height: 40rem;
   width: 85rem;

}
.about3>h1{
   margin-left: 26%;
 position: relative;
 font-size: 5rem;
 color: white;
 border: none;
padding-top: 15%;
 
}
.about03>p{
margin: 5%;
}